*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    color: whitesmoke;
}
body{
    background: url('imagess/bg.jpg');
    /* / background-color: rgba(35,45,57,0.8);  */
    background-repeat: no-repeat;

}
.uppercontainer{
    
    min-height: 80px;
}

.leftcontainer{
   
    display: inline-block;
    position:absolute;
    left: 40px;
    top: 28px;
}
.leftcontainer a{
    text-decoration: none;
    text-transform: uppercase;
    color: whitesmoke;
    font-size: 35px;
    font-weight: 800;
}
.rightcontainer{
    
    display: inline;
    float:right;
    margin: 34px 2px;
    padding:8px 9px
}
.navigationbar{
    margin: 0px 3px;
    padding:2px 3px
}
.navigationbar li a{
    text-decoration: none;  
    text-transform: uppercase; 
    color: whitesmoke;
    font-size: 19px;
    font-weight: 600;
}
.navigationbar li a:hover{
    color: #ed563b;
}
.navigationbar li{
    list-style: none;
    display: inline-block;
    margin: -4px 29px;
    padding: 3px 4px
}
em{
    color: #ed563b;
    font-style: normal;
}
.imageoverlay{
    /* border: 2px solid yellow; */
    display: inline;
    position: absolute;
    top: 335px;
    left: 535px;
    width: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.text{
    display: inline-block;
    /* border: 2px solid red; */
    color:whitesmoke;
    text-align: center;
    margin-left: 116px;
    
}
.text h3{
    font-weight: 600;
    text-transform: uppercase;
    color: beige;
    font-size: 18px;
    letter-spacing: 0.5px
}
.text h2{
    font-size: 84px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 800;
}
.button{
    background-color: #ed563b;
    /* color: whitesmoke; */
    /* font-weight: 500; */
    display: inline-block;
    padding: 12px 20px;
    position: relative;
    left: 452px;
    top: 22px;
}
.button a{
    font-size: 17px;
    text-decoration: none;
    color:whitesmoke;
    font-weight: 500;
}
.formcontainer{
    border: 2px solid white;
    border-radius: 30px;
    display: inline-block;
    width: 49%;
    margin: 362px 356px;
    padding: 127px 74px
}
.btn{
    background-color: #ed563b;
    padding: 12px 20px;
    border: none;
    border-radius: 3px;
    font-size: 13px;
    font-weight: 500;
    display: block;
    margin: auto;
}
.formgroup input{
    text-align: center;
    display: block;
    color: #ed563b;
    margin:16px auto;
    padding: 2px 2px;
    width:74%;
    font-size: 17px;
    border-radius: 7px;
    font-weight: 900;
}
.formcontainer h1{
    text-align: center;
}
