*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    color: whitesmoke;
}
body{
    background: url('imagess/bg.jpg');
    /* / background-color: rgba(35,45,57,0.8);  */
    background-repeat: no-repeat;
    background-size: contain;
    max-width: fit-content;
}
.uppercontainer{
    
    min-height: 5.2em;
    position: relative;
    left: 3.2em;
}

.leftcontainer{
   
    display: inline-block;
    position:absolute;
    left: 2.5em;
    top: 1.75em;
}
.leftcontainer a{
    text-decoration: none;
    text-transform: uppercase;
    color: whitesmoke;
    font-size: 2.1875em;
    font-weight: 800;
}
.rightcontainer{
    
    display: inline;
    float:right;
    margin: 2.1em 0.12em;
    padding:0.5em 0px
}
.navigationbar{
    margin: 0px 0.18em;
    padding: 0.125em 0.1875em;
}
.navigationbar li a{
    text-decoration: none;  
    text-transform: uppercase; 
    color: whitesmoke;
    font-size: 1.1875em;
    font-weight: 600;
}
.navigationbar li a:hover{
    color: #ed563b;
}
.navigationbar li{
    list-style: none;
    display: inline-block;
    margin: -0.25em 1.81em;
    /* padding: 0.1875em 0.0625em; */
}
.navigationbar .buttonhover:hover{
    color: white;
}
em{
    color: #ed563b;
    font-style: normal;
}
.imageoverlay{
    /* border: 2px solid yellow; */
    display: inline;
    position: absolute;
    top: 20.9375em;
    left: 533.4375em;
    width: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.imageoverlay button a{
    display: block;
    margin: auto;
    text-align: center;
}
.imageoverlay .button{
    display: block;
    margin: auto 40.5%;
}
.text{
    display: inline-block;
    /* border: 2px solid red; */
    color:whitesmoke;
    text-align: center;
    margin-left: 7.25em
    
}
.text h3{
    font-weight: 600;
    text-transform: uppercase;
    color: beige;
    font-size: 1.125;
    letter-spacing: 0.03125em
}
.text h2{
    font-size: 5.25em;
    text-transform: uppercase;
    letter-spacing: 0.0625em;
    font-weight: 800;
}
.button{
    background-color: #ed563b;
    color: whitesmoke;
    font-weight: 500; 
     display: inline-block; 
     padding: 0.75em 0.25em;
}
.button a{
    font-size: 1.0625em;
    text-decoration: none;
    color:whitesmoke;
    font-weight: 500;
    text-align: center;
    display: block;
    margin: auto;
}
.formcontainer{
    border: 0.125em solid #ed563b;
    border-radius: 0.875em;
    display: inline-block;
    width: 49%;
    margin: 22.625em 22.25em;
    padding: 1.2em;
}
.btn{
    background-color: #ed563b;
    padding:  0.75em 1.25em;
    border: none;
    border-radius: 0.1875em;
    font-size: 0.8125em;
    font-weight: 500;
    display: block;
    margin: auto;
}
.formgroup input{
    text-align: center;
    display: block;
    color: #ed563b;
    margin:1em auto;
    padding:0.125em 0.125em;
    width:74%;
    font-size: 1.0625em;
    border-radius: 0.4375em;
    font-weight: 900;
}
.formcontainer h1{
    text-align: center;
    position: relative;
}
form{
    position: relative;
    top: 1em;
}
.btn a{
    text-decoration: none;
    font-weight: 500;
}